<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Page three</title>
</head>
<body>
    <div class="header">
        <% include ../partials/header %>
    </div>

    <div class="content">
        <h1><%= tagline %></h1>

        <ul>
            <% for (var i = 1; i <= 5; i++) { %>
                <li>
                    <%= i + ". Item " + i %>
                </li>
           <% } %>
        </ul>
    </div>

    <div class="footer">
        <% include ../partials/footer %>
    </div>
</body>
</html>